*{
  margin: 0;
  padding: 0;
}

.main-body{
  padding: 50px;
}

.error-doll-pic{
  width: 30%;
  height: 30%;
  margin: 60px 90px 0px 0px;
}

.banner{
  display: flex;
  justify-content: center;
  align-items: center;
}